




/* Desktop First */
/* Desktop First */
/* Desktop First */
/* Desktop First */
/* Desktop First */




.iconos{
    width: 40px;
}
ul{
    width: 95%;
    
}
.nav-item{
    width: 210px;
}
#navSecundario{
    background-color:rgb(83, 83, 83);
}
#navPrimario{
background-color: rgb(56, 56, 56);
}
input{
    border-radius: 5%;
}
#main{
    background-image: url("../assets/img/Fondo4.jpg");
    display: flex;  
    height: auto;
    width: auto; 
    justify-content: center;
    align-items: center;
}
#mainContenido{
    background-color: rgba(44, 44, 44, 0.507);
    width: 95%;
}

footer{
    background-color: black;
}
.text-secondary{
    color: rgb(202, 202, 202) !important;
}
.ms-5--modified{
margin-left: 115px;
}

/* Efectos/transiciones/transformaciones */
.card{
    background-color: rgba(128, 128, 128, 0.514);
    transition: all .2s;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.74);
    transform: translateY(-2px);
}
.btn{
    background-color: rgba(211, 210, 210, 0.322);
    border-color:rgb(211, 210, 210, 0.514);
    transition: all .2s;
}
.btn:hover{
    background-color: rgba(211, 210, 210, 0.664);
    border-color:rgba(211, 210, 210, 0.712);
}
.nav-item a{
    color: rgba(230, 228, 228, 0.801) !important;
    transition: all .3s;
}
.nav-item a:hover{
color: rgb(255, 255, 255) !important;
text-shadow: 0px 0px 1px #ffffffc9;
}
iframe, .encabezados{
    transition: all .4s;
}
iframe:hover{
    transform: translateY(-2px);
}
.encabezados:hover{
    letter-spacing: 2px;
}
#linkIndex{
    width: 320px;
    margin-left: 34.5rem;
}
.card-title, .card-text{
color: rgb(0, 0, 0);
}